@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

:root{
    --primary-orange: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-Light-Grey:hsl(217, 12%, 63%);
    --neutral-Dark-Blue:hsl(213, 19%, 18%);
    --neutral-Very-Dark-Blue:hsl(216, 12%, 8%);
    --Font-size-paragraph:15px 
}
.overpass {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-weight: 400,700;
    font-style: normal;
  }
    .button-list{
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 0; 
      
    }
    .button-list li{
      display: inline;
      margin: 10px 0;
    }

    .button-list button{
    border-radius: 50%;
    color: var(--neutral-Light-Grey);
    background-color: var(--neutral-Dark-Blue);
  }

  .home{
    padding: 1rem;
    border: 1px solid;
    border-radius: 5%;
    background: var(--neutral-Dark-Blue);
    background: linear-gradient(45deg,var(--neutral-Dark-Blue), var(--neutral-Light-Grey));
  }